<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
  <nav class="menu">
    <a href="/" class="top-menu"><img src="https://i.imgur.com/Yzv8KHw.png" alt="logo" class="logo"></a>
    <form class="search-bar" action="/restaurants" method="GET">
        <input type="text" placeholder="Restaurants, categories" name="term">
        <input type="text" placeholder="Location (required)" required name="location">
        <input type="number" style="display: none;" value="1" name="page">
        <button type="submit">Search</button>
    </form>
    <% if (user) { %>
      <div class="top-menu"><img src="<%= user.avatar %>" alt="avatar" class="google-avatar"><%= user.name %>
        <nav class="sub-menu">
          <a href="" class="sub-menu-content">My Favorite</a>
          <a href="" class="sub-menu-content">My Reviews</a>
          <a href="/logout" class="sub-menu-content">LOG OUT</a>
        </nav>
      </div>
    <% } else { %>
      <a href="/auth/google" class="login top-menu">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>

