<%- include('./partials/header') %>
<main>
  <h1 style="font-size: 8vmin; position: absolute; top: 35vmin;">Discover Delectable Cuisine</h1>
  <h2 style="font-size: 3vmin; position: absolute; bottom: 10vmin">Welcome to Yum Yum, where every dish is a
    masterpiece </h2>
</main>

<%- include('./partials/footer') %>