<%- include('./partials/header') %>
<main>
    <h1 style="font-size: 8vmin; position: absolute; top: 35vmin;">Discover Delectable Cuisine</h1>
    <h2 style="font-size: 3vmin; position: absolute; bottom: 10vmin">Welcome to Yum Yum, where every dish is a masterpiece </h2>
</main>
<!-- <main>
    <form class="search-bar" action="/restaurants" method="GET">
        <input type="text" placeholder="Restaurants, categories" name="term">
        <input type="text" placeholder="Location (required)" required name="location">
        <button type="submit">Search</button>
    </form>
</main> -->

<%- include('./partials/footer') %>