* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  /* width: 100vw; */
  display: grid;
  background-color: ivory;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: lemonchiffon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2vmin 0 0.2vmin;
  color: #4a4e4d;
  position: fixed;
  width: 100vw;
  margin: 0;
  top: 0;
  height: 10vmin;
}

.menu > .top-menu {
  color: black;
}

.top-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vmin 10vmin;
  text-decoration: none;
  height: 5vmin;
  padding: 1vmin;
  border-radius: 0.5vmin;
}
.google-avatar {
  height: 5vmin;
  margin-right: 0.5vmin;
}
.logo {
  height: 8vmin;
  margin-right: 0.5vmin;
  padding-bottom: 1vmin;
}
.top-menu:hover {
  background-color: antiquewhite;
}

.sub-menu {
  display: none;
  position: absolute;
  margin-top: 21vh;
  background-color: ivory;
  min-width: 11vmin;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.top-menu:hover .sub-menu {
  display: block;
}

.sub-menu-content {
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
}

.sub-menu-content:hover {
  background-color: #ddd;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ivory;
  background-image: url("https://i.imgur.com/4WUoWXq.jpg");
  background-size: cover;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5vmin 0.5vmin 0.5vmin 0.5vmin rgba(0,0,0,0.2);
}

.search-bar input {
  padding: 1vmin;
  font-size: 2vmin;
  border: none;
  border-right: 0.2vmin solid gray;
  width: 45vmin;
  margin-right: 1vmin;
}

.search-bar input:last-child {
  border-right: none;
  border-radius: 0 10vmin 10vmin 0;
}

.search-bar button[type="submit"] {
  padding: 1vmin 2vmin;
  background-color: #f2f2f2;
  border-radius: 30%;
  border: none;
  font-size: 2vmin;
  background-color: antiquewhite;
  cursor: pointer;
}

.restaurants {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurants-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.restaurants-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurant-list li{
  padding-top: 2vmin;
  padding-left: 1vmin;
  border-bottom: #ccc solid 0.1vmin;
  padding-bottom: 1.5vmin;
}
.restaurant-list li:hover {
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
}

.pages {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  justify-content: flex-end;
  margin-right: 5vmin ;
}
.pages li {
  margin: 1vmin 1vmin 5vmin;
  font-size: 2.5vmin;
}

.pages .active {
  text-decoration: underline;
}


.restaurant-content {
  display: grid;
  grid-template-rows: 40vmin 5vmin 45vmin 1fr;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.restaurant-name {
  font-size: 6vmin;
  font-weight: bold;
  text-shadow: 1px 1px #333;
}
.restaurant-info {
  margin: 2vmin;
  display: flex;
  justify-content: center;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  gap: 1vmin;
  font-size: 1.5vmin;
  font-weight: bold;
}
.restaurant-rating img {
  height: 2vmin;
}
#yelp-rating-info, #yumyum-rating-info {
  margin: 1vmin 0 0.5vmin 0;
}
.restaurant-review-count {
  font-size: 1.25vmin;
  color: #ccc;
  margin-left: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-price {
  font-size: 1.5vmin;
  font-weight: bold;
  color: #fff;
  background-color: #800000;
  border-radius: 0.5vmin;
  padding: 0.25vmin 0.5vmin;
}
.restaurant-categories {
  margin-left: 2vmin;
}
.restaurant-open {
  color: aquamarine;
}
.restaurant-today-hours {
  margin-left: 2vmin;
}
#add-forms {
  height: 5vmin;
  display: flex;
  align-items: center;
}
#new-review, #scroll-down, #all-reviews {
  background-color: red;
  color: white;
  margin-left: 5.5vmin;
  border-radius: 10%;
  height: 4vmin;
  width: 13vmin;
  padding: 1vmin 0.8vmin 0 1.2vmin;
  border: none;
}
#new-review:hover, #scroll-down:hover, #all-reviews:hover {
  background-color: brown;
  color: white;
  text-decoration: none;
}
#scroll-down {
  padding: 0 0.8vmin 0 0.8vmin;
}
#all-reviews {
  padding: 1vmin 0.8vmin 0 2.8vmin;
}

.restaurant-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  margin-top: 3vmin;
}

.restaurant-main div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2vmin;
  line-height: 3vmin;
}

.restaurant-hours > table {
  border-collapse: collapse;
  table-layout: auto;
  width: 60%;
}

table td, table th {
  border-bottom: 0.1vmin solid rgb(231, 230, 230);
  text-align: center;
  /* vertical-align: middle; */
  /* height: 50px; */
}

#add-review-form {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  align-items: center;
}

#add-review-form div div {
  display: flex;
}
#review-content  {
  height: 30vmin;
  width: 60vmin;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: large;
}
#submit-review {
  width: 50%;
  height: 3vmin;
  background-color: antiquewhite;
}
#submit-review:hover {
  background-color:peachpuff;
  /* color: white; */
}
#review-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#add-review-form > div {
  border: 0.1vmin solid lightgray;
  padding: 1vmin;
}
#rating-select > label {
  color: brown;
  font-size: 2vmin;
}
#rating-select > select {
  width: 8vmin;
  margin-left: 1vmin;
}

.review-avatar {
  height: 3vmin;
  width: 3vmin;
  margin-right: 0.5vmin;
}

#yelp-reviews-div, #yumyum-reviews-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vmin;
  font-size: 2vmin;
}

#yelp-reviews-table, #yumyum-reviews-table {
  width: 80vw;
}
#yumyum-reviews-table {
  margin-bottom: 20vmin;
}
#yelp-reviews-table tr, #yumyum-reviews-table tr {
  height: 3vmin;
}
#yelp-reviews-table td, #yumyum-reviews-table td {
  white-space: normal;
  word-wrap: break-word;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}
.review-user > div {
  display: flex;
  align-items: center;
}
#yelp-reviews-table td:nth-child(1), #yumyum-reviews-table td:nth-child(1) {
  width: 10%;
}
#yelp-reviews-table td:nth-child(2), #yumyum-reviews-table td:nth-child(2) {
  width: 10%;
}
#yelp-reviews-table td:nth-child(3), #yumyum-reviews-table td:nth-child(3) {
  width: 60%;
  text-align: left;
}
#yelp-reviews-table td:nth-child(4), #yumyum-reviews-table td:nth-child(4) {
  width: 10%;
}
#yelp-reviews-table td:nth-child(5), #yumyum-reviews-table td:nth-child(5) {
  width: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vmin;
  margin-left: 3vmin;
}
#edit-review {
  background-color: bisque;
  border: 0.3vmin solid black;
  width: 5vmin;
  height: 3vmin;
  font-size: 1vmin;
  padding: 0.5vmin 0.8vmin 0.5vmin 0.8vmin;
}
#edit-review:hover {
  background-color: burlywood;
  text-decoration: none;
}

#delete-review {
  background-color:bisque;
  height: 3vmin;
  width: 3vmin;
}
#delete-review:hover {
  background-color: burlywood;
}
